<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>LogoutServlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArticleServlet</servlet-name>
        <servlet-class>ArticleServlet.ArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArticleInsertServlet</servlet-name>
        <servlet-class>ArticleServlet.ArticleInsertServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArticleDeleteServlet</servlet-name>
        <servlet-class>ArticleServlet.ArticleDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArticleUpdateServlet</servlet-name>
        <servlet-class>ArticleServlet.ArticleUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryGreeceServlet</servlet-name>
        <servlet-class>Category.CategoryGreeceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryWorldServlet</servlet-name>
        <servlet-class>Category.CategoryWorldServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryPoliticsServlet</servlet-name>
        <servlet-class>Category.CategoryPoliticsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryEconomyServlet</servlet-name>
        <servlet-class>Category.CategoryEconomyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryAthleticsServlet</servlet-name>
        <servlet-class>Category.CategoryAthleticsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArticleServlet</servlet-name>
        <url-pattern>/ArticleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArticleInsertServlet</servlet-name>
        <url-pattern>/ArticleInsertServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArticleDeleteServlet</servlet-name>
        <url-pattern>/ArticleDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArticleUpdateServlet</servlet-name>
        <url-pattern>/ArticleUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryGreeceServlet</servlet-name>
        <url-pattern>/CategoryGreeceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryWorldServlet</servlet-name>
        <url-pattern>/CategoryWorldServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryPoliticsServlet</servlet-name>
        <url-pattern>/CategoryPoliticsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryEconomyServlet</servlet-name>
        <url-pattern>/CategoryEconomyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryAthleticsServlet</servlet-name>
        <url-pattern>/CategoryAthleticsServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
